@import url('https://fonts.googleapis.com/css2? family= Baile+Guión & family= Josefin+Sans & family= Poppins:wght@200 & family= Roboto:wght@100 & family= Shadows+Into+Light & family= Square+Peg & display=swap');

* {
    padding: 0;
    margin: 0;
}

/*aplique map, extend, mixin en los iconos de redes despues los voy a sacar*/
$redessociales: (
    facebook:dashed,
    instagram:double
);

@each $network,
$borde in $redessociales {
    .red--#{$network} {
        border-style: $borde;
    }
}

.social {
    border-color: yellow;
}

.red--facebook {
    @extend.social;
}

.red--instagram {
    @extend.social;
}

@mixin forma ($margen, $ancho) {
    margin: $margen;
    width: $ancho;
}

.red--facebook {
    @include forma(5px, 35px);
}

.red--instagram {
    @include forma(5px, 35px);
}

footer {
    color: white;
    margin-bottom: 0;
    bottom: 0px;
    background-image: $fondo;
    background-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .direcciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        h3 {
            padding: 5px;
            font-size: 13px;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        h4 {
            font-size: 11px;
            font-style: italic;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .iconos {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

        }
    }
}

@media only screen and (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

header {
    .fondoheader {
        background-image: $fondo;

        .contenedor {
            .hamburguesa {
                background-color: white;
            }

            a {

                .logo {
                    height: 75px;
                }

            }
        }
    }
}

@media (min-width: 992px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
    }

}