@media only screen and (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 170px;
    }
}

@media (min-width: 992px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
    }
    
}
