.columnaproducto {
    .producto {

        img {
            height: 400px;
            width: 218px;
        }

    }

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
}