@import url('https://fonts.googleapis.com/css2? family= Baile+Guión & family= Josefin+Sans & family= Poppins:wght@200 & family= Roboto:wght@100 & family= Shadows+Into+Light & family= Square+Peg & display=swap');

* {
    padding: 0;
    margin: 0;
}

.fondoheader {
    background-image: url(../img/fondouno.jpg);
}

.hamburguesa {
    background-color: white;
}

.carousel,
.carousel-inner,
.carousel-item {
    max-width: 300px;
    max-height: 700px;
}

.tarjetassuc {
    height: 750px;

}

.tarjeta img {
    height: 600px;
}

.logo{
    height: 75px;
}

.tarjeta:hover {
    animation: tarjetaanimacion 2s;
}

.colorcontacto:checked {
    background-color: black;
    border: black;
}

.colorcontacto {
    background-color: black;
    border: black;
}


@keyframes tarjetaanimacion {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

.carousel-inner img {
    width: 100px;
    height: 400px;
}

.logo {
    width: 60px;
}

footer {
    color: white;
    margin-bottom: 0;
    bottom: 0px;
    background-image: url("../img/fondouno.jpg");
    background-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.direcciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.direcciones h3 {
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.direcciones h4 {
    font-size: 11px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.iconos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.iconos a img {
    margin: 5px;
    width: 35px;
}

.videovideo {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 992px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
    }

}

@media only screen and (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}